@{
    ViewData["Title"] = WebsiteConstnats.ProgramName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Welcome to @WebsiteConstnats.ProgramName</h1>
        <main id="main-content" role="main">
                            <h1 class="govuk-heading-m" id="overview">GOV.UK PaaS is being decommissioned</h1>
                            <p>Following an options analysis, GDS has decided to decommission GOV.UK PaaS.</p>
                            <p>Thanks to all tenants who have used our platform over the years.</p>
                            <h2 class="govuk-heading-m" id="overview">The decision</h2>
                            <p><a href="https://gds.blog.gov.uk/2022/07/12/why-weve-decided-to-decommission-gov-uk-paas-platform-as-a-service/">You can read more about the decision on our blog post</a>.</p>
                            <h2 class="govuk-heading-m" id="overview">Migrating from GOV.UK PaaS</h2>
                       
                            <h2 class="govuk-heading-m" id="overview">Our service</h2><p>We will continue to run a secure and reliable platform as we always have.</p>
                            <p>We aim to maintain our 99.95% availability target and to <a href="https://www.cloud.service.gov.uk/support-and-response-times">support</a> continued operations on the platform until it is decommissioned.</p>
                            <p>Due to the variety of GOV.UK PaaS tenants, it is unlikely that we will be able to provide off-the-shelf solutions.</p>
                            <p>We will facilitate and strongly encourage communications and knowledge sharing between tenants.</p>
                            <p>As we gain a more complete picture of our tenants’ migration needs, the team will work to enable solutions and may contribute where appropriate.</p>
                            <h2 class="govuk-heading-m" id="overview">Trial accounts</h2>
                            <p>We are no longer accepting new trial accounts.</p>
                            <p>We will not be offering the option to upgrade trial accounts to billable accounts.</p>
                            <h2 class="govuk-heading-m" id="overview">Controlled decommissioning</h2><p>The decommissioning of GOV.UK PaaS has a target retirement date of  December 2023. The final date will be determined by our tenants’ migration plans.</p><p>We’re speaking to tenants to work out how best we can support migration to alternative hosting providers.</p>
                            <p>If you have any questions please <a href="https://admin.london.cloud.service.gov.uk/support/contact-us">get in touch</a>.</p>
                        </main>
    </div>
</div>

