
@{
    ViewData["Title"] = "Bad Request";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Bad Request</h1>
        <p class="govuk-body">
           The request cannot be fulfilled due to bad syntax
        </p>
       
    </div>
</div>